# DATABASE_DRIVER="mongodb"
# DATABASE_URL="mongodb://localhost:27017/prac"
DEBUG=*

DATABASE_DRIVER=postgres

DATABASE_USERNAME=username
DATABASE_PASSWORD=yourpassword
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=database_name